@media (max-width: 868px) {
    body.disabled{
      overflow: hidden;
    }
    .icon{
      display: block;
    }
    .icon.hide{
      display: none;
    }
    .dws-menu .menu-list{
      position: fixed;
      height: 100vh;
      width: 100%;
      max-width: 400px;
      left: -100%;
      top: 0px;
      display: block;
      padding: 40px 0;
      text-align: center;
      background:#017a92b9;
      transition: all 0.3s ease;
    }
    .menu-list li:hover > ul {
      display: none;
    } 
    .dws-menu.show .menu-list{
      left: 0%;
    }
    .dws-menu .menu-list li{
      margin-top: 45px;
    }
    .dws-menu .menu-list li a{
      font-size: 23px;
      margin-left: -100%;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    .dws-menu.show .menu-list li a{
      margin-left: 0px;
    }

    .dws-menu .menu-list ul{
        margin-top: 45px;
      }
    .dws-menu .menu-list ul a{
        font-size: 23px;
        margin-left: -100%;
        transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    .dws-menu.show .menu-list ul a{
        margin-left: 0px;
      }

    .lucky_tour_caption h1 {
        font-size: 70px;
        margin-top: 15%;
        z-index: -1;
    }

    .menu-list li a{
        color: #fff;
        background: none;
        font-size: 18px;
        font-weight: 500;
        margin-left: 25px;
      }
    .menu-list li a:hover{
        color: #017a92;
        box-shadow: 1px 5px 10px -5px black;
        background: none;
      }

    .menu-list li{
        border-right: none;
      }

    .dws-menu .menu-list li a {
        font-size: 21.5px;
    }
  }

@media (max-width: 1024px){
    .intro {
        max-height: 320px;
    }

    .block {
        padding: 20px 6%;
      }

}


@media (max-width:768px) {
    .intro {
        max-height: 230px;
    
    }
    
    .homepagelink {
        font-size: 30px;
        margin-top: 6%;
    }

    .footer_menu_row{
        width: 650px;
      }
    
    .preface h1 {
        font-size:28px;
    }

    .preface {
        padding: 8px 10%;
    }

    .block {
        padding: 20px 3%;
      }

    .tour_title p {
        font-weight: bold;
        font-size:17.5px;
    }

    .tour_duration p {
        font-size: 14.5px;
    }

    .tour_price p {
        font-size: 17px;
    }

}

@media all and (max-width: 425px){
    .intro {
        max-height: 150px;
    }

    .dws-menu .menu-list li a {
        font-size: 20px;
    }

    .homepagelink {
        font-size: 19px;
        margin-top: 4%;
        font-weight: 600;
    }

    .space-between_row{
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
      }

    .sub_footer p {
        font-size: 85%;
    }

    .preface h1 {
        font-size:24px;
    }

    .preface p {
        font-size: 13.5px;
    }

    .wrapper {
        grid-template-columns: repeat(1,1fr);
      }
    
    .block {
        padding: 6px;
      }

    .tour_title p {
        font-weight: bold;
        font-size:19px;
    }

    .tour_duration p {
        font-size: 15px;
    }

    .tour_price p {
        font-size: 18px;
    }
}

